/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1.3;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

figure img {
  width: 100%;
  display: block;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.user_picture {
  height: 100px;
  width: 100px;
}

.users_login {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.users_login .title {
  font-size: 2.5rem;
  font-family: "Futura LT Pro Bold";
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.users_login .users_login_section {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
}
.users_login .users_login_section .info {
  font-size: 1.5rem;
  font-family: "Futura LT Pro Bold";
  text-align: center;
}
.users_login .users_login_section form {
  color: #004A59;
  border-radius: 0px 64px 0px 0px;
  background: rgba(255, 255, 255, 0.66);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 5vh;
}
.users_login .users_login_section form input {
  border: none;
  border-bottom: solid #004A59;
  border-radius: 0;
  text-align: start;
  padding: 0;
  font-size: 18px;
  font-family: "Alef Regular";
}
.users_login .users_login_section form #pseudo, .users_login .users_login_section form #password {
  color: #004A59;
  font-family: "Alef Bold";
}
.users_login .users_login_section form input.login-btn {
  border: none;
  background: #004A59;
  border-radius: 15px;
  color: #fff;
  font-family: "Futura LT Pro Bold";
  font-size: 1.5rem;
  margin: 0;
  text-transform: inherit;
  display: flex;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.users_login .users_login_section form input.login-btn:hover {
  background: #fff;
  color: #004A59;
}
.users_login .users_login_section form .goToSignup span {
  font-family: "Alef Regular";
  font-weight: 400;
}
.users_login .users_login_section form .goToSignup a {
  font-family: "Alef Regular";
  font-weight: 700;
  color: #004A59;
}

.users_signup .column {
  height: 232px;
  background: rgba(255, 255, 255, 0.66);
  border-radius: 0px 0px 0px 64px;
  padding: 49px;
}
.users_signup .column .side-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.users_signup .column .side-nav .arrow-left {
  background: url("../img/app_design/icons/arrow_left.svg") no-repeat;
  height: 22px;
  width: 22px;
  display: block;
}
.users_signup .column .side-nav .title {
  color: #393939;
  font-family: "Futura LT Pro Bold";
  font-size: 31px;
}
.users_signup .users_add_section form {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 5vh;
}
.users_signup .users_add_section form input {
  color: #FFFFFF;
  border: none;
  border-bottom: solid #FFFFFF;
  border-radius: 0;
  text-align: start;
  padding: 0;
}
.users_signup .users_add_section form input::placeholder {
  color: #FFFFFF;
  font-family: "Alef Regular";
  font-size: 1.5em;
}
.users_signup .users_add_section form #firstname, .users_signup .users_add_section form #lastname, .users_signup .users_add_section form #pseudo, .users_signup .users_add_section form #password, .users_signup .users_add_section form #email, .users_signup .users_add_section form #password {
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Alef Regular";
}
.users_signup .users_add_section form .signup-btn {
  border: none;
  background: #004A59;
  border-radius: 15px;
  color: #fff;
  font-family: "Futura LT Pro Bold";
  font-size: 1.5rem;
  margin: 0;
  text-transform: inherit;
  display: flex;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.users_signup .users_add_section form .signup-btn:hover {
  background: #fff;
  color: #004A59;
}
.users_signup .users_add_section .goToLogin {
  text-align: center;
}
.users_signup .users_add_section .goToLogin span {
  font-family: "Alef Regular";
  font-weight: 400;
  color: #fff;
}
.users_signup .users_add_section .goToLogin a {
  font-family: "Alef Regular";
  font-weight: 700;
  color: #fff;
}

.posts {
  padding: 15px;
}
.posts .posts-container .posts-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.posts .posts-container .posts-list .post {
  color: red;
  background: #FFFFFF;
  border-radius: 24px;
  display: inline-block;
  height: auto;
  width: 345px;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.posts .posts-container .posts-list .post .post_picture {
  width: 100%;
  height: auto;
}
.posts .posts-container .posts-list .post .post_info {
  padding: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.posts .posts-container .posts-list .post .post_info .post_pseudo a {
  font-family: "Futura LT Pro Bold";
  font-size: 16px;
  color: #393939;
  margin-top: 10px;
}
.posts .posts-container .posts-list .post .post_info .post_info__action {
  display: flex;
  gap: 15px;
}
.posts .posts-container .posts-list .post .post_info .post_info__action .post-liked, .posts .posts-container .posts-list .post .post_info .post_info__action .post-notLiked {
  color: #D80000;
}
.posts .posts-container .posts-list .post .post_info .post_info__action .fa-comment-dots {
  color: #393939;
}
.posts .posts-container .posts-list .post .post_description {
  padding: 15px;
  font-family: "Alef Regular";
  font-weight: 700;
  font-size: 14px;
  color: #393939;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

@font-face {
  font-family: "Futura LT Pro Bold";
  src: url("../font/FuturaLTPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "Alef Bold";
  src: url("../font/Alef-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Alef Regular";
  src: url("../font/Alef-Regular.ttf") format("truetype");
}
.bg_initial {
  min-height: 100vh;
}

.bg_connexion {
  height: 100vh;
  background-size: cover;
}

.main {
  height: 100%;
}
.main .container {
  height: 100%;
  padding: 0px;
}

/*# sourceMappingURL=cake.css.map */
