/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1.3;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

figure img {
  width: 100%;
  display: block;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.users-section {
  padding: 20px;
}
.users-section .users-view {
  min-height: 85vh;
}
.users-section .users {
  background: #FFFFFF;
  border-radius: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
  align-items: center;
}
.users-section .users .users-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.users-section .users .users-info .users-info-picture {
  display: inline-block;
  overflow: hidden;
  height: 90px;
  width: 90px;
  width: fit-content;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgba(2, 113, 132, 0.49), rgba(199, 54, 24, 0.49)) border-box;
  border-radius: 100%;
  border: 1px solid transparent;
}
.users-section .users .users-info .users-info-name {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.users-section .users .users-info .users-info-name .users-pseudo {
  font-family: "Futura LT Pro Bold";
  font-size: 16px;
  color: #393939;
  margin-top: 10px;
}
.users-section .users .users-info .users-info-name .fa-user-pen {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 113, 132, 0.49)), to(rgba(199, 54, 24, 0.49)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.users-section .users .users-info .users-info-description {
  font-family: "Alef Regular";
  font-weight: 700;
  font-size: 12px;
  color: #393939;
  text-align: left;
}
.users-section .users .separator {
  margin: 10px auto;
  width: 90%;
  height: 2px;
  background: linear-gradient(rgba(2, 113, 132, 0.76), rgba(199, 54, 24, 0.76)) padding-box, linear-gradient(to left, rgba(2, 113, 132, 0.76), rgba(199, 54, 24, 0.76)) border-box;
  margin-top: 10px;
  margin-bottom: 10px;
}
.users-section .users .users-posts ul {
  grid: auto-flow/1fr 1fr 1fr;
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 10px;
}
.users-section .users .users-posts ul li {
  width: fit-content;
  margin: 0px;
}
.users-section .users .users-posts ul li figure {
  display: inline-block;
  overflow: hidden;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.users-section .users .users-edit-title {
  font-family: "Futura LT Pro Bold";
  color: #393939;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: normal;
}
.users-section .users form {
  color: #004A59;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 5vh;
  width: 100%;
}
.users-section .users form .users-edit .input {
  width: 100%;
}
.users-section .users form .users-edit .input label {
  font-family: "Futura LT Pro Bold";
  font-size: 16px;
  color: #393939;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: normal;
}
.users-section .users form .users-edit input, .users-section .users form .users-edit textarea {
  width: 100%;
  color: #004A59;
  border: none;
  border-bottom: solid #004A59;
  border-radius: 0;
  text-align: start;
  padding: 0;
}
.users-section .users form .users-edit input label, .users-section .users form .users-edit textarea label {
  font-family: "Futura LT Pro Bold";
  font-size: 16px;
  color: #393939;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: normal;
}
.users-section .users form .users-edit input::placeholder, .users-section .users form .users-edit textarea::placeholder {
  color: #004A59;
  font-family: "Alef Regular";
  font-size: 14px;
}
.users-section .users form .users-edit #firstname, .users-section .users form .users-edit #lastname, .users-section .users form .users-edit #pseudo, .users-section .users form .users-edit #password, .users-section .users form .users-edit #email, .users-section .users form .users-edit #password, .users-section .users form .users-edit #description {
  color: #004A59;
  font-size: 14px;
  margin: 0px;
  font-family: "Alef Regular";
}
.users-section .users form .users-edit .signup-btn {
  border: none;
  background: #004A59;
  border-radius: 15px;
  color: #004A59;
  font-family: "Futura LT Pro Bold";
  font-size: 1.5rem;
  margin: 0;
  text-transform: inherit;
  display: flex;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.users-section .users form .users-edit .signup-btn:hover {
  background: #004A59;
  color: #004A59;
}

.user_picture {
  height: 90px;
  width: 90px;
  margin: 0px;
}

.users_login {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.users_login .title {
  font-size: 2.5rem;
  font-family: "Futura LT Pro Bold";
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  height: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.users_login .users_login_section {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
}
.users_login .users_login_section .info {
  font-size: 1.5rem;
  font-family: "Futura LT Pro Bold";
  text-align: center;
}
.users_login .users_login_section form {
  color: #004A59;
  border-radius: 0px 64px 0px 0px;
  background: rgba(255, 255, 255, 0.66);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 5vh;
}
.users_login .users_login_section form input {
  border: none;
  border-bottom: solid #004A59;
  border-radius: 0;
  text-align: start;
  padding: 0;
  font-size: 18px;
  font-family: "Alef Regular";
}
.users_login .users_login_section form #pseudo, .users_login .users_login_section form #password {
  color: #004A59;
  font-family: "Alef Bold";
}
.users_login .users_login_section form input.login-btn {
  border: none;
  background: #004A59;
  border-radius: 15px;
  color: #fff;
  font-family: "Futura LT Pro Bold";
  font-size: 1.5rem;
  margin: 0;
  text-transform: inherit;
  display: flex;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.users_login .users_login_section form input.login-btn:hover {
  background: #fff;
  color: #004A59;
}
.users_login .users_login_section form .goToSignup span {
  font-family: "Alef Regular";
  font-weight: 400;
}
.users_login .users_login_section form .goToSignup a {
  font-family: "Alef Regular";
  font-weight: 700;
  color: #004A59;
}

.users_signup .column {
  height: 232px;
  background: rgba(255, 255, 255, 0.66);
  border-radius: 0px 0px 0px 64px;
  padding: 49px;
}
.users_signup .column .side-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.users_signup .column .side-nav .arrow-left {
  background: url("../img/app_design/icons/arrow_left.svg") no-repeat;
  height: 22px;
  width: 22px;
  display: block;
}
.users_signup .column .side-nav .title {
  color: #393939;
  font-family: "Futura LT Pro Bold";
  font-size: 31px;
}
.users_signup .users_add_section form {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 5vh;
}
.users_signup .users_add_section form input {
  color: #FFFFFF;
  border: none;
  border-bottom: solid #FFFFFF;
  border-radius: 0;
  text-align: start;
  padding: 0;
}
.users_signup .users_add_section form input::placeholder {
  color: #FFFFFF;
  font-family: "Alef Regular";
  font-size: 14px;
}
.users_signup .users_add_section form #firstname, .users_signup .users_add_section form #lastname, .users_signup .users_add_section form #pseudo, .users_signup .users_add_section form #password, .users_signup .users_add_section form #email, .users_signup .users_add_section form #password {
  color: #FFFFFF;
  font-size: 14px;
  font-family: "Alef Regular";
}
.users_signup .users_add_section form .signup-btn {
  border: none;
  background: #004A59;
  border-radius: 15px;
  color: #fff;
  font-family: "Futura LT Pro Bold";
  font-size: 1.5rem;
  margin: 0;
  text-transform: inherit;
  display: flex;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.users_signup .users_add_section form .signup-btn:hover {
  background: #fff;
  color: #004A59;
}
.users_signup .users_add_section .goToLogin {
  text-align: center;
}
.users_signup .users_add_section .goToLogin span {
  font-family: "Alef Regular";
  font-weight: 400;
  color: #fff;
}
.users_signup .users_add_section .goToLogin a {
  font-family: "Alef Regular";
  font-weight: 700;
  color: #fff;
}

.posts {
  padding: 15px;
}
.posts .posts-container .posts-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  padding-bottom: 90px;
}
.posts .posts-container .posts-list .post {
  color: red;
  background: #FFFFFF;
  border-radius: 24px;
  display: inline-block;
  height: auto;
  width: 345px;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.posts .posts-container .posts-list .post .post_picture {
  width: 100%;
  height: auto;
}
.posts .posts-container .posts-list .post .post_info {
  padding: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.posts .posts-container .posts-list .post .post_info .post_pseudo a {
  font-family: "Futura LT Pro Bold";
  font-size: 16px;
  color: #393939;
  margin-top: 10px;
}
.posts .posts-container .posts-list .post .post_info .post_info__action {
  display: flex;
  gap: 15px;
}
.posts .posts-container .posts-list .post .post_info .post_info__action .post-liked, .posts .posts-container .posts-list .post .post_info .post_info__action .post-notLiked {
  color: #D80000;
}
.posts .posts-container .posts-list .post .post_info .post_info__action .fa-comment-dots {
  color: #393939;
}
.posts .posts-container .posts-list .post .post_description {
  padding: 0px 15px;
  font-family: "Alef Regular";
  font-weight: 700;
  font-size: 14px;
  color: #393939;
  text-align: left;
}
.posts .posts-container .posts-list .post .separator {
  margin: 10px auto;
  width: 90%;
  height: 2px;
  background: linear-gradient(rgba(2, 113, 132, 0.76), rgba(199, 54, 24, 0.76)) padding-box, linear-gradient(to left, rgba(2, 113, 132, 0.76), rgba(199, 54, 24, 0.76)) border-box;
  margin-top: 10px;
  margin-bottom: 10px;
}
.posts .single-post-view {
  border: solid blue;
  background: #FFFFFF;
  border-radius: 24px;
}

@font-face {
  font-family: "Futura LT Pro Bold";
  src: url("../font/FuturaLTPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "Alef Bold";
  src: url("../font/Alef-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Alef Regular";
  src: url("../font/Alef-Regular.ttf") format("truetype");
}
body {
  position: relative;
}

.nav {
  position: fixed;
  bottom: 0px;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 30px 30px 0px 0px;
  width: 100%;
  height: 65px;
}
.nav .nav-links {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 100%;
}
.nav .nav-links a i {
  font-size: 25px;
  color: #393939;
}
.nav .nav-links .addPost_icon {
  position: absolute;
  width: 70px;
  height: 70px;
  background: #F6A278;
  display: flex;
  align-items: center;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  border-radius: 100%;
}
.nav .nav-links .addPost_icon i {
  font-size: 30px;
  color: #FFFFFF;
}

.bg_initial {
  min-height: 100vh;
}

.bg_connexion {
  height: 100vh;
  background-size: cover;
}

.main {
  height: 100%;
}
.main .container {
  height: 100%;
  padding: 0px;
}

.row {
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=cake.css.map */
