.posts{
    padding: 15px;
    .posts-container{
        .posts-list{
            margin: 25px auto;
            display: flex;
            justify-content: center;
            width: 80%;
            flex-direction: column;
            gap: 25px;
            align-items: center;
            padding-bottom: 90px;
            .post{
                color: #D80000;;
                background: #FFFFFF;
                display: inline-block;
                height: auto;
                width: 310px;
                border-radius: 24px;
                text-align: center;
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .all-comments-view{
                    padding: 15px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                a figure{
                    overflow: hidden;
                    background-color: #fafafa;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-height: 80vh;
                    img {
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                        min-height: 200px;
                        object-fit: cover;
                      }

                }

                .post_picture{
                    width: 100%;
                    height: auto;
                }
                .post_info{
                    padding: 15px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    .post_pseudo{
                        a{
                            font-family: "Futura LT Pro Bold";
                            font-size: 16px;
                            color: #393939;
                            margin-top: 10px;
                        }
                    }
                    .post_info__action{
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        font-family: "Futura LT Pro Bold";
                        color:#D80000;

                        .post-liked, .post-notLiked {
                            color:#D80000
                        }
                        .fa-comment-dots, .fa-pen{
                            color: #393939;
                        }
                        
                    }
                }
                .post_description{
                    padding: 0px 15px 15px 15px;
                    font-family: "Alef Regular";
                    font-weight: 700;
                    font-size: 14px;
                    color: #393939;
                    text-align: left;
                }
                .separator{
                    margin: 10px auto;
                    width: 90%;
                    height: 2px;
                    background: 
                        linear-gradient(rgba(2, 113, 132, 0.76), rgba(199, 54, 24, 0.76)) padding-box,
                        linear-gradient(to left, rgba(2, 113, 132, 0.76), rgba(199, 54, 24, 0.76)) border-box;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
               
            }
        }
        .post-comm{
            border-radius: 0px!important;
        }
    }
    .single-post-view{
        background: #FFFFFF;
        border-radius: 24px;
    }
}
.fromAddPost{
    label{
        width: fit-content;
        border: solid;
        padding: 5px;
        border-radius: 7px;
        width: fit-content;
        margin: 5px 0;
    }
}

.inputImgPost{
    display: none;
}
.img-prev{
    width: auto;
    background-size: cover;
    border-radius: 10px;
}