.search-section{
    padding: 20px 20px 90px 20px;
    height: 100%;
    .search{
        display: flex;
        flex-direction: column;
        gap: 19px;
        color: red;
        width: 80%;
        margin: 0 auto;
        form{
            color: #004A59;
            display: flex;
            flex-direction: row;
            width: 100%;
            .input{
                width: 100%;
            }
            input{
                width: 100%;
                color: #004A59;
                border: none;
                background: #FFFFFF;
                border-top-left-radius: 10px 10px;
                border-bottom-left-radius: 10px 10px;
                border-top-right-radius: 0px 0px;
                border-bottom-right-radius: 0px 0px;
                text-align: start;
                padding: 0 10%;
                &::placeholder {
                    color: #004A59;
                    font-family: 'Alef Regular';
                    font-size: 14px;

                }
            }
            button{
                border: #FFFFFF;
                color: #393939;
                padding: 0 10%;
                background: #FFFFFF;
                border-top-left-radius: 0px 0px;
                border-bottom-left-radius: 0px 0px;
                border-top-right-radius: 10px 10px;
                border-bottom-right-radius: 10px 10px;
            }
            #search{
                color: #004A59;
                font-size: 14px;
                margin: 0px;
                font-family: 'Alef Regular';
            }
            // button{
            //     border: none;
            //     background: #004A59;
            //     border-radius: 15px;
            //     color: #004A59;
            //     font-family: "Futura LT Pro Bold";
            //     font-size: 1.5rem;
            //     margin: 0;
            //     text-transform: inherit;
            //     display: flex;
            //     cursor: pointer;
            //     width: 100%;
            //     align-items: center;
            //     justify-content: center;
            //     &:hover{
            //         background: #004A59;
            //         color: #004A59;
            //     }
            // }
        }
        .search-users-suggestion{
            display: flex;
            flex-direction: column;
            gap: 10px;
            ul{
                display: flex;
                gap: 10px;
                li{
                    list-style: none;
                    display: flex;
                    background: #FFFFFF;
                    border-radius: 10px;
                    width: 33.3333333333%;
                    height: 61px;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid transparent;
                    background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgba(2, 113, 132, 0.49), rgba(199, 54, 24, 0.49)) border-box;
                    a{
                        color: #393939;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;


                    }
                }
            }
           
        }
        .search-users-posts{
            display: flex;
            flex-direction: column;
            gap: 10px;
            ul{
                width: 100%;
                display: flex;
                gap: 10px;
                justify-items: center;
                flex-direction: column;
                li{
                    position: relative;
                    overflow: hidden;
                    list-style: none;
                    display: flex;
                    background: #FFFFFF;
                    border-radius: 10px;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid transparent;
                    background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgba(2, 113, 132, 0.49), rgba(199, 54, 24, 0.49)) border-box;
                    figure .user_picture{
                        overflow: hidden;
                        background-color: #fafafa;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        max-height: 80vh;
                        img {
                            width: 100%;
                            height: 100%;
                            max-width: 100%;
                            min-height: 200px;
                            object-fit: cover;
                          }
                    }
                    .nb-like{
                        background-color: #FFFFFF;
                        border-radius: 10px;
                        position: absolute;
                        bottom: 2px;
                        padding: 2px;
                        right: 2px;
                        font-size: 20px;
                        font-family: "Futura LT Pro Bold";

                    }
                }
            }
        }
    }
    .search-users{
        background: #FFFFFF;
        color: red;
        border-radius: 24px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 40px 30px;
        gap: 15px;
        form{
            color: #004A59;
            display: flex;
            flex-direction: row;
            width: 100%;
            .input{
                width: 100%;
            }
            input{
                width: 100%;
                color: #004A59;
                border: none;
                background: #EFEFEF;
                border-top-left-radius: 10px 10px;
                border-bottom-left-radius: 10px 10px;
                border-top-right-radius: 0px 0px;
                border-bottom-right-radius: 0px 0px;
                text-align: start;
                padding: 0 10%;
                &::placeholder {
                    color: #004A59;
                    font-family: 'Alef Regular';
                    font-size: 14px;

                }
            }
            button{
                border: #FFFFFF;
                color: #393939;
                padding: 0 10%;
                background: #EFEFEF;
                border-top-left-radius: 0px 0px;
                border-bottom-left-radius: 0px 0px;
                border-top-right-radius: 10px 10px;
                border-bottom-right-radius: 10px 10px;
            }
            #search{
                color: #004A59;
                font-size: 14px;
                margin: 0px;
                font-family: 'Alef Regular';
            }
        }
        .search-users-result{
          
            ul{
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 15px;
                li{
                    a{
                        width: 100%;
                        display: flex;
                        gap: 15px;
                        align-items: center;
                        
                        
                    }
                    
                }
            }
        }
    }
}
.search-title{
    font-family: 'Futura LT Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: normal;
    color: #004A59;
    &:hover{
        color: #004A59;
    
    }
}