.users-section{
    margin: 0 auto;
    padding: 20px;
    width: 90%;
    color: #004A59;
    // max-height: 100vh;
    // min-height: 85vh;
    // height: 85vh;
    .users-view{
        min-height: 85vh;
    }
    .users{
        position: relative;
        background: #FFFFFF;
        border-radius: 24px;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 40px 10px;
        align-items: center;
        .logout{
            position: absolute;
            top: 20px;
            right: 20px;
            font-family: "Futura LT Pro Bold";
            color: #393939;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: normal;
        }
        .users-info{
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            .users-info-name{
                display: flex;
                gap: 16px;
                align-items: center;
                flex-direction: row;
                justify-content: center;
                .users-pseudo{
                    font-family: "Futura LT Pro Bold";
                    font-size: 16px;
                    color: #393939;
                    margin-top: 10px;
                }
                .fa-user-pen{
                    background: -webkit-gradient(linear, left top, left bottom, from(rgba(2, 113, 132, 0.49)), to(rgba(199, 54, 24, 0.49)));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .users-info-description{
                font-family: "Alef Regular";
                font-weight: 700;
                font-size: 12px;
                color: #393939;
                text-align: left;
            }
        }
        
        .users-posts{
            ul{
                grid: auto-flow / 1fr 1fr 1fr;
                width: 100%;
                display: grid;
                justify-items: center;
                gap: 10px;
                li{
                    width: fit-content;
                    margin: 0px;
                    figure{
                        overflow: hidden;
                        background-color: #fafafa;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        max-height: 80vh;
                        border-radius: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                            max-width: 100%;
                            min-height: 200px;
                            object-fit: cover;
                          }
                        
                    }
                }
            }
        }
        .users-edit-title{
            font-family: "Futura LT Pro Bold";
            color: #393939;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: normal;
        } 
        form{
            font-family: "Alef Regular";
            font-weight: 700;
            color: #004A59;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            gap: 5vh;
            width: 100%;
            .input .desc{
                background: #EFEFEF;
                border-radius: 14px;
                height: unset;
            }
            .users-edit{
                .input{
                    width: 100%;
                    label{
                        font-family: "Futura LT Pro Bold";
                        font-size: 16px;
                        color: #393939;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: normal;
                    }
                }
                input, textarea{
                    width: 100%;
                    color: #004A59;
                    border: none;
                    border-bottom: solid #004A59;
                    border-radius: 0;
                    text-align: start;
                    padding: 0;
                    label{
                        font-family: "Futura LT Pro Bold";
                        font-size: 16px;
                        color: #393939;
                        font-weight: 700;
                        line-height: 19px;
                        letter-spacing: normal;
                    }
                    &::placeholder {
                        color: #004A59;
                        font-family: 'Alef Regular';
                        font-size: 14px;
    
                    }
                }
                #firstname, #lastname, #pseudo, #password, #email, #password, #description{
                    color: #004A59;
                    font-size: 14px;
                    margin: 0px;
                    font-family: 'Alef Regular';
                }
                .signup-btn{
                    border: none;
                    background: #004A59;
                    border-radius: 15px;
                    color: #004A59;
                    font-family: "Futura LT Pro Bold";
                    font-size: 1.5rem;
                    margin: 0;
                    text-transform: inherit;
                    display: flex;
                    cursor: pointer;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        background: #004A59;
                        color: #004A59;
                    }
                }
            } 
        }
        
    }
    
}
.user_picture{
    height: 90px; 
    width: 90px;
    margin: 0px;
}

